{% extends "base.html" %}
{% load static %}
{% block title %}Проект{% endblock %}
{% block content %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/pr_id.css' %}">
    <div class="container-fluid">
        <div class="row">   
         <div class="col-sm">
          <div class="text-center"><button type="button" data-toggle="modal"
          data-target="#modal-example" style="margin-right: 0%;" 
          class="btn btn-primary active" align-text="center">Выбрать данные</button></div>
         </div>
            <div class="col-6">
                 <h1 class="namehypo" align="center" style="margin-top: 0%;">Проект "{{project.project_name}}" <img src="{% static 'images/project-management.svg' %}" width="40"></h1>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
 <div class="modal fade" id="modal-example" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- заголовок -->
            <div class="modal-header">
                <h3 class="modal-title">ВЫБОР ДАННЫХ ДЛЯ ОБРАБОТКИ</h3>
                <button type="button" 
                  data-dismiss="modal" ><img src="{% static 'images/rem.png' %}">
                </button>
            </div>
            <!-- содержимое -->
            <div class="modal-body">
            <div class="form-group">
              <form method="POST" class="post-form">
              {% csrf_token %}
              <!-- {{ sliceform }} -->
              <div class="row">
                <p><a>Укажите имя листа:</a></p>
                </div>
               </form>
              </div>
              <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
                <input type="file" name="myfile" class="form-file-input" id="customFile">
                <label class="form-file-label" for="customFile"></label>
             <button type="submit" class="btn btn-primary" >Сохранить</button>    
              </form>
      
             
            </div>    
        </div>
    </div>
</div> 
<!--Модальное окно Кластеризация-->
<div class="modal fade" id="modal-example1" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- заголовок -->
            <div class="modal-header">
                <h3 class="modal-title">КЛАСТЕРИЗАЦИЯ</h3>
                <button type="button" 
                  data-dismiss="modal" ><img src="{% static 'images/rem.png' %}">
                </button>
            </div>
            <!-- содержимое -->
            <div class="modal-body">
            <div class="form-group">
              <form method="POST" class="post-form">
              {% csrf_token %}
              <!-- {{ sliceform }} -->
              <div class="row">
                <p><a>Укажите имя столбца:</a></p>
                </div>
                <div class="row">
                <p><a>Введите кол-во кластеров:</a></p>
                </div>
               </form>
              </div>
           
                <div class="row">
             <button type="submit" class="btn btn-primary" >GO</button>
            </div>
                </div>
              </form>
            </div>    
        </div>
    </div>
</div> 
<!--Модальное окно Классификация-->
<div class="modal fade" id="modal-example2" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- заголовок -->
            <div class="modal-header">
                <h3 class="modal-title">КЛАССИФИКАЦИЯ</h3>
                <button type="button" 
                  data-dismiss="modal" ><img src="{% static 'images/rem.png' %}">
                </button>
            </div>
            <!-- содержимое -->
            <div class="modal-body">
            <div class="form-group">
              <form method="POST" class="post-form">
              {% csrf_token %}
              <!-- {{ sliceform }} -->
              <div class="row">
                <p><a>Укажите маркер:</a></p>
                </div>
                <div class="row">
                <p><a>Введите кол-во кластеров:</a></p>
                </div>
               </form>
              </div>
           
                <div class="row">
             <button type="submit" class="btn btn-primary" >GO</button>
            </div>
                </div>
              </form>
            </div>    
        </div>
    </div>
</div> 
<!--About Project -->
    <div class="album  pull-right py-4 bg-light"> <!-- padding-top/button внутренний отступ, 5- значение отступа -->
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <p></p><span class="badge-pill badge-secondary">ID: {{ project.id }}</span></p>
                <p><span class="badge-pill badge-secondary">Статус: {{ project.status }}</span></p>
                <p><span class="badge-pill badge-secondary">Дата создания: {{ project.created_at }} </span></p>
                {% for file in logos %}
                      <p><a class="{{ file.css_class }}"</a>TypeType</p>
                {% endfor %}
                <p><span class="badge-pill badge-secondary">Путь: {{ project.file }}</span></p>
            </div>
          
        
               <div class="col-md-4">
                <h3 class="text-center">Статистика</h3>
                <ul>
             
                    <li><a> Основные статистические данные</a></li>
                    <li><a>Классификация</a></li>
                    <li><a>Категоризация</a></li>
                </ul>
                <div class="text-center"><button type="button" class="btn btn-primary active" align-text="center" data-toggle="modal"
          data-target="#modal-example1">Перейти</button></div>
          </div>
            
            <div class="col-md-4">
                <h3 class="text-center">Редактирование данных</h3>
                <ul>
                    <li><a>Изменение стурктуры</li>
                    <li><a>Сортировка</a></li>
                    <li><a style="color:#fff;"> _ </a></li> 
                </ul>
                <div class="text-center"><button type="button" class="btn btn-primary active">Перейти</button></div>
            </div>
          </div>
       
           <!-- Вторая колонка -->
          <div class="row">
            <div class="col-md-4">
                <p><span class="badge-pill badge-secondary">Тип файлов:{{ projects.typep}} </span></p>
                <p><span class="badge-pill badge-secondary">Автор проекта: {{project.author }}</span></p>
                <!--<p><span class="badge-pill badge-secondary">Последнее обновление: 25.01.2020</span></p> -->
                <p><span class="badge-pill badge-secondary" style="position: relative;">Описание проекта:
                <div class="input-group">
                <input type="text" class="form-control" id="descript" placeholder="{{ project.description }}">
            </div></span></p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Отчет</h3>
                <ul>
                    <li><a >Журнал действий</a></li>
                    <li><a>Визуализация</a></li>
                    <li><a>Отчет по проекту</a></li>
                </ul>
                <div class="text-center"><button type="button" class="btn btn-primary active" data-toggle="modal"
          data-target="#modal-example2">Перейти</button></div>
            </div>
                
                
            <div class="col-md-4">
               <h3 class="text-center">Прогнозирование</h3>
                <ul>
                    <li><a>Предсказание значения элементов</a></li>
                    <li><a  style="color:#fff;">_</a></li>
                    <li><a style="color:#fff;">_</a></li>
                </ul>
                <div class="text-center"><button type="button" class="btn btn-primary active">Перейти</button></div>
            </div>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span>
            <h3 class="namehypo"  align="center">Comments <img src="{% static 'images/speech-bubble.svg' %}" width="30" height="30"></h3>
        </div>
        
            <div class="panel panel-default widget">
                <div class="panel-body">
                    <ul class="list-group">
                    {% if comments_list %}
                      {% for c in comment_list %}
                        <li> <p>
                          <strong>{{ c.author_name }}</strong>
                          <p>{{ c.comment_text }}</p>
                         </p></li>
                      {% endfor %}
                     {% else %}
                      Комментарии не найдены!
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    <section class="container">
        <div class="row">  
            <div class="col-md-12 mr-auto">
              <form action="{% url 'progmod:leave_comment' project.id %}" method="POST">
              {% csrf_token %}
              <input type="text" required="" placeholder="Ваше имя" name="name"><br>
                <textarea class="form-control" rows="2" name="text" required=" placeholder="Добавьте Ваш комментарий"></textarea>
                <div class="mar-top clearfix">
                    <button class="btn btn-sm btn-primary pull-right" type="submit"> Добавить</button>
             </form>
           </div>
        </div>
    </section>
{% endblock %}
 <!--
 </body>
</html> 
-->
  <!--
            <div class="col-sm">
         <table class="table table-bordsered table-hover" id="myTable">
            <thead>
            <tr>
              <th>Статистика</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Классификация</td>
             
            </tr>
            <tr>
             <td>Классификация</td>
             </tr>
            </tbody>
        </table>
        </div> 
        --> 
